.container {
            display: flex;
            justify-content: center;
        }

        .movie{
            background-color: #ececec;
            padding: 20px 20px 8px 20px;
            border-radius: 20px;
            width: 50%;
        }
        .moviePic{
            border-radius: 20px;
        }
        .movieDetail{
           position: relative;
           text-align: center;
           font-size: 20px;
           width: 100%;
           top: auto;
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        span{
            color: red;
        }